---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			a {
				color: blue;
				font-size: medium;
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/posts/post/">temp post</a>
		<h1>Luke Concini's Portfolio</h1>
		<p>
			Navigate the pages to learn more about myself and my projects!
		</p>
	</body>
</html>
