---
import BaseLayout from "../layouts/BaseLayout.astro";

import ParticleBackground from "../components/ParticleBackground.astro";
---

<BaseLayout title="Home | My Portfolio">

  <div id="particle-overlay">
  <ParticleBackground/>
  </div>

  <section class="flex flex-col items-center text-center py-20">
    <h1 >Hi, I'm Luke Concini</h1>
    <p> I am an Engineering Physics Co-op student at the <a href="https://www.ualberta.ca/en/index.html" target="_blank" rel="noopener noreferrer">University of Alberta</a> passionate about problem solving.</p>

    
  </section>
  

</BaseLayout>
