---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="Home | My Portfolio">

  <section class="text-center py-20">
    <h1 >Hi, I'm Luke Concini</h1>
    <p >Engineering Physics student at the University of Alberta passionate about problem solving.</p>
  </section>

</BaseLayout>
