---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCardImageLink from "../components/ProjectCardImageLink.astro";
import ProjectCardImage from "../components/ProjectCardImage.astro";
import ProjectCardLink from "../components/ProjectCardLink.astro";

---

<BaseLayout title="Projects" description="A portfolio of my projects, showcasing my skills and experience.">

        <section class="projects-page ">
            <div class="page-inner ">
                <header class="projects-header">
                    <h1>Projects</h1>
                    <p class="lead">Here are a few of the projects I've worked on! Click on the project card to read more about each one!</p>
                </header>

                <div class="project-grid">
                    <!-- <ProjectCard
                        title="Killswitch PCB"
                        description="SMALL PROJECT DESC." 
                        slug="example-project-two"
                        tech={["Altium", "JLCPCB"]}
                        demolabel="Homepage"
                        demolink="/"
                        repolabel="Source"
                        repolink="https://github.com/routabeta/portfolio"
                    /> -->

                    <ProjectCardImageLink
                        title="Killswitch PCB"
                        description="Hall-effect sensor PCB for autonomous submarines to ensure diver safety." 
                        tech={["Altium Designer", "PCB Assembly"]}
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
                        image="./killswitch_pcb_raw.png"
                        imagealt="Killswitch PCB"
                    /> 

                    <ProjectCardImageLink
                        title="Killswitch PCB"
                        description="Hall-effect sensor PCB for autonomous submarines to ensure diver safety." 
                        tech={["Altium Designer", "PCB Assembly"]}
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
                        image="./killswitch_pcb_raw.png"
                        imagealt="Killswitch PCB"
                    /> 

                     <ProjectCardImageLink 
                        title="IMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
                        image="/favicon.svg"
                        imagealt="Default Ico"
                    /> 
                    
                
                    <ProjectCardLink 
                        title="NOKIMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
   
                    /> 

      
                    <ProjectCardLink class="grid"
                        title="Portfolio Website"
                        description="Astro site built with a focus on clean UI/UX to show a bit of who I am!" 
                        tech={["Astro", "HTML", "CSS", "JS", "Markdown"]}
                        repolabel="Source"
                        repolink="https://github.com/routabeta/portfolio"
                        slug="./"
   
                    /> 

                    
                </div>
            </div>
        </section>

  

</BaseLayout>
