---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCardImageLink from "../components/ProjectCardImageLink.astro";
import ProjectCardImage from "../components/ProjectCardImage.astro";
import ProjectCardLink from "../components/ProjectCardLink.astro";

---

<BaseLayout title="Projects" description="A portfolio of my projects, showcasing my skills and experience.">

        <section class="projects-page ">
            <div class="page-inner ">
                <header class="projects-header">
                    <h1>Projects</h1>
                    <p class="lead">Here are a few of the projects I've worked on!</p>
                </header>

                <div class="project-grid">
                    <!-- <ProjectCard
                        title="Killswitch PCB"
                        description="SMALL PROJECT DESC." 
                        slug="example-project-two"
                        tech={["Altium", "JLCPCB"]}
                        demolabel="Homepage"
                        demolink="/"
                        repolabel="Source"
                        repolink="https://github.com/routabeta/portfolio"
                    /> -->

                    <ProjectCardImageLink
                        title="IMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
                        image="/favicon.svg"
                        imagealt="Default Ico"
                    /> 

                     <ProjectCardImageLink
                        title="IMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
                        image="/favicon.svg"
                        imagealt="Default Ico"
                    /> 
                    
                    
                    <ProjectCardImage
                        title="IMAGE nolink"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        image="/github.svg"
                        imagealt="Default Ico"
                    />
                    <ProjectCardLink
                        title="NOKIMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
   
                    /> 

                    <ProjectCardImage
                        title="IMAGE nolink"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        image="/github.svg"
                        imagealt="Default Ico"
                    />
                    <ProjectCardLink
                        title="NOKIMAGE link"
                        description="Another small project demonstrating data processing and visualization." 
                        tech={["Python", "D3"]}
                        repolabel="Source"
                        repolink="#"
                        demolink="#"
                        demolabel="Demo"
                        slug="example-project-two"
   
                    /> 

                    


                    <!-- <ProjectCard
                        title="Portfolio Website"
                        description="My Built with a focus on maintainable structure and clean UI/UX."
                        tech={["Astro", "JavaScript", "CSS"]}
                        demolabel="Homepage"
                        demolink="/"
                        repolabel="Source"
                        repolink="https://github.com/routabeta/portfolio"
                    /> -->
                </div>
            </div>
        </section>
  

</BaseLayout>
