---
const d = new Date()
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
---
<footer>
  <p>&copy; {month[d.getMonth()]} {d.getFullYear()} - Luke Concini. All rights reserved.</p>
</footer>
