---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro";

const { title = "Portfolio", description = "" } = Astro.props;
---

<html lang="en">

  <head>
    <script>  // Ensure no transition when page loads and no flash of white
      /* theme init: apply saved preference for colour theme ASAP after loading */
      (function() {
        try{
          const k='theme-preference';
          const s=localStorage.getItem(k);
          const html=document.documentElement;
          if(s==='dark') html.classList.add('dark');
          else if(s==='light') html.classList.remove('dark');
          else if(window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) html.classList.add('dark');
        }
        catch(e){} 
      })();

      // Disable transitions before CSS and JS load
      document.documentElement.classList.add('no-transition');

      
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body class="flex flex-col">
    <!-- Navbar on every page for consistency -->
    <Navbar/>

    <!-- Page content -->
    <main class="flex-1 px-8 py-8">
      <slot />
    </main>

    <!-- Footer slot on every page for consistency -->
    <Footer/>
  </body>

  
  <script>
    // Re-enable transitions after page laod
    window.addEventListener('DOMContentLoaded', () => {
      requestAnimationFrame(() => {
        document.documentElement.classList.remove('no-transition');
      });
    });
  </script>

</html>
